/* custom checkbox table */

.hideFunctionEmployee {
    display: none;
}

.showFunctionEmployee {
    display: block;
}

td {
    position: relative;
}

.function {
    position: absolute;
    background: white;
    top: 30px;
    right: 50px;
    display: none;
}

.functionEmployee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.functionEmployee .icon {
    margin-right: 0;
}

.functionEmployee .icon:hover {
    border: 1px solid blue;
}


/* custom input checkbox */

input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

input[type="checkbox"]:checked {
    transform: rotate(360deg);
    transition: 0.2s;
}

input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border: 1px solid #babec5;
    border-radius: 3px;
    background-color: white;
}

input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    width: 7px;
    height: 13px;
    border: 1px solid #2ca01c;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
}

.movePage {
    color: #9e9e9e;
}

.pages>div {
    padding: 0 5px;
    margin: 0 2px;
}

.active-page {
    border: 1px solid #c7c7c7;
    font-family: "NotoSans-bold";
}

.pages {
    display: flex;
    margin: 0 10px;
}

.comboboxPaging {
    margin-right: 10px;
}

.editEmployee {
    color: blueviolet;
    cursor: pointer;
    display: inline;
}

.optionEmployee {
    cursor: pointer;
    display: inline-block;
}


/* Set table size */

.table {
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
    padding: 0 30px 0 16px;
}


/* Set paging size */

.pagination {
    position: sticky;
    bottom: 0;
    height: 46px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paging {
    display: flex;
    align-items: center;
}

.pageMovement {
    display: flex;
    align-items: center;
}

.tableData {
    height: calc(100% - 70px);
    width: 100%;
    overflow: auto;
    position: relative;
}


/* Set custom table css */

.table-data {
    width: 100%;
    border-spacing: 0;
}

.header-table th {
    height: 34px !important;
    padding: 0 10px 0 10px;
    position: sticky;
    white-space: nowrap;
    top: 0;
    background: #eceef1;
    border-right: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    z-index: 4;
    font-size: 12px;
    text-align: left;
    font-family: "NotoSans-bold";
}

th {
    white-space: nowrap;
}

.tr-hover:hover>td {
    background: #f3f8f8 !important;
}

.header-table tr>th:first-child {
    position: sticky;
    left: 0;
    text-align: center;
    background: #eceef1;
    z-index: 5 !important;
    padding-top: 3px;
}

tbody tr>td:first-child {
    position: sticky;
    left: 0;
    text-align: center;
    padding-top: 7px;
    z-index: 2;
    background: #fff !important;
}

.header-table tr>th:last-child,
tbody tr>td:last-child {
    position: sticky;
    right: 0;
    padding-left: 10px;
}

tbody tr {
    font-size: 13px;
}

tbody tr>td:first-child,
tbody tr>td:last-child {
    background: white;
    text-align: center;
    z-index: 1;
}

.header-table tr>th:first-child,
.header-table tr>th:last-child {
    z-index: 4;
}

td {
    height: 36px;
    white-space: nowrap;
    border-right: 1px solid #c7c7c7;
    border-right-style: dotted;
    border-bottom: 1px solid #c7c7c7;
    padding: 5px 10px 5px 10px;
}

tbody tr>td:last-child {
    border-left: 1px solid #c7c7c7;
    border-left-style: dotted;
    border-right: 0;
}

.header-table tr>th:last-child {
    border-left: 1px solid #c7c7c7;
    border-right: 0;
}


/* custom last child */

.header-table tr>th:nth-last-child(2),
tbody tr>td:nth-last-child(2) {
    border-right: 0;
}

tbody tr>td:nth-last-child(1) {
    z-index: 1;
}


/* Set index impotant */

.index-important {
    z-index: 3 !important;
}

.page-item:hover {
    cursor: pointer;
}

.movePage {
    cursor: pointer;
}

.enable-change-index {
    pointer-events: auto;
    color: #000;
}

.disable-change-index {
    pointer-events: none !important;
}


/* custom for combobox */

.dx-list-item-selected {
    color: #fff !important;
    background-color: #2ca01c !important;
}

.dx-list-item-selected:hover {
    color: #fff !important;
    background-color: #2ca01c !important;
}

.dx-list-item-selected:active {
    color: #fff !important;
    background-color: #2ca01c !important;
}

.dx-item-content:active {
    color: #2ca01c !important;
    background-color: #f8f8f8 !important;
}